<div class="result-book-{{book.id}}">
  <div class="row">
    <div class="col-1">{{#if book.litres_book_rating}}{{book.litres_book_rating.average}} ({{book.litres_book_rating.votes_count}}){{else}}-{{/if}}</div>
    <div class="col-1">{{#if book.livelib_book_rating}}{{book.livelib_book_rating.average}} ({{book.livelib_book_rating.votes_count}}){{else}}-{{/if}}</div>
    <div class="col-5"><span class='user-book-buttons-area'><a class='p-1 m-1 button-add{{#if button_remove}} hide{{/if}}' title="Добавить на книжную полку" data-remote="true" rel="nofollow" data-method="post" href="/user_books/create?book_id={{book.id}}"><svg height="24" class="octicon octicon-diff-added octicon-green" viewBox="0 0 16 16" version="1.1" width="24" aria-hidden="true"><path d="M2.75 1h10.5c.966 0 1.75.784 1.75 1.75v10.5A1.75 1.75 0 0 1 13.25 15H2.75A1.75 1.75 0 0 1 1 13.25V2.75C1 1.784 1.784 1 2.75 1Zm10.5 1.5H2.75a.25.25 0 0 0-.25.25v10.5c0 .138.112.25.25.25h10.5a.25.25 0 0 0 .25-.25V2.75a.25.25 0 0 0-.25-.25ZM8 4a.75.75 0 0 1 .75.75v2.5h2.5a.75.75 0 0 1 0 1.5h-2.5v2.5a.75.75 0 0 1-1.5 0v-2.5h-2.5a.75.75 0 0 1 0-1.5h2.5v-2.5A.75.75 0 0 1 8 4Z"></path></svg></a><a class='p-1 m-1 button-remove{{#if button_add}} hide{{/if}}' title="Убрать c книжной полки" data-remote="true" rel="nofollow" data-method="delete" href="/user_books/destroy?book_id={{book.id}}"><svg height="24" class="octicon octicon-diff-removed octicon-black" viewBox="0 0 16 16" version="1.1" width="24" aria-hidden="true"><path d="M13.25 1c.966 0 1.75.784 1.75 1.75v10.5A1.75 1.75 0 0 1 13.25 15H2.75A1.75 1.75 0 0 1 1 13.25V2.75C1 1.784 1.784 1 2.75 1ZM2.75 2.5a.25.25 0 0 0-.25.25v10.5c0 .138.112.25.25.25h10.5a.25.25 0 0 0 .25-.25V2.75a.25.25 0 0 0-.25-.25Zm8.5 6.25h-6.5a.75.75 0 0 1 0-1.5h6.5a.75.75 0 0 1 0 1.5Z"></path></svg></a></span><a href="{{#if book.int_id}}http://www.litres.ru/pages/biblio_book/?art={{book.int_id}}{{else}}#{{/if}}">{{#if book.name}}{{book.name}}{{else}}-{{/if}}</a><em style="font-size: 0.75em;">{{#if book.genre_names}} ({{book.genre_names}}){{/if}}</em></div>
    <div class="col-2">
      <div class="row">
        <div class="col-4" align='center'>{{#if book.writing_year}}{{book.writing_year}}{{else}}-{{/if}}</div>
        <div class="col-4" align='center'>{{#if book.pages_count}}{{book.pages_count}}{{else}}-{{/if}}</div>
        <div class="col-4" align='center'>{{#if book.comments_count}}{{book.comments_count}}{{else}}-{{/if}}</div>
      </div>
    </div>
    <div class="col-3">
      {{#each book.authors}}
        <div>
          <a href="{{#if this.url}}https://www.litres.ru/author/{{this.url}}{{else}}#{{/if}}">{{#if this.name}}{{this.name}}{{else}}-{{/if}}</a>
        </div>
      {{/each}}
    </div>
  </div>
</div>
